# Default ignored files
/shelf/
/workspace.xml
.classpath
.project
.settings/
*/target/*

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
